docx==0.2.4
ipython==8.12.3
nbformat==5.10.3
nltk==3.9.1
openai==0.28.1
openpyxl==3.1.2
pandas==2.0.3
PyMySQL==1.1.1
scikit-learn==1.5.0
scipy==1.10.1
tiktoken==0.7.0
torch==2.2.1
transformers==4.45.2
contractions~=0.1.73
cryptography